body {
  background-color: #cf771f;
  font-family: 'Pacifico', cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.app {
  display: flex;
  flex-direction: column;
}

.bird-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  
}

.bird {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px;
}

.img-circle {
  border-radius:50%;
  object-fit: fill;
  width: 180px;
  height: 230px;
  padding: 15px;
}

.title {
  text-align: center;
  font-size: 80px;
}

.nav {
  text-align: center;
  color: black;
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}